<% include ./partials/header %>
<div class="registerWrapper">
  <div class="ui main registerContainer segment">
    <% if(currentUser.setting.number_of_nodes){ %>
      <form action="/previousSelection" class="ui form" method="POST" style="background: none;">
        <button class="ui violet bug basic button">Use Previous Configuration</button>
      </form>
    <%}%>
    <div class="ui huge header">Configurations</div>  
    <form action="/" class="ui form" method="POST" style="background: none;">
        <div class="field">
            <label>Number of Nodes</label>
            <input type="number" name="number" placeholder="1">
        </div>
        <div class="field">
            <label>Mode</label>
            <div style="display: flex; justify-content:space-around; ">
              <div>
                <input type="radio" name="mode" value="light">Light
              </div>
              <div>
                <input type="radio" name="mode" value="full">Full
              </div>
            </div>
        </div>
        <div class="field">
          <label>Select Geth Flags</label>
          <div style="display: flex; padding-bottom: 10px; flex-direction: column; ">
            <div>
              <input type="checkbox" name="flags" value="flag1"/> Flag1
            </div>
            <div>
              <input type="checkbox" name="flags" value="flag2"/> Flag2
            </div>
            <div>
              <input type="checkbox" name="flags" value="flag3"/> Flag3
            </div>
          </div>
          
        </div>
        <div class="field">
          <label>Genesis File </label>
          <textarea name="genesis" required rows="8" cols="50"></textarea>
        </div>
        <input class="ui violet big basic button" type="submit">
    </form>
  </div>
</div>

<% include ./partials/footer %>